<div class="row">
  <div class="columns">
    <div class="content-box">
      <h1>Welcome to Barre Better!</h1>
      <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
      	 viewBox="0 0 492.2 215" style="enable-background:new 0 0 492.2 215;" xml:space="preserve">
      <style type="text/css">
      	.st0{fill:none;stroke:#F26B75;stroke-width:3;stroke-miterlimit:10;}
      	.st1{fill:#F26B75;}
      	.st2{fill:#FFFFFF;}
      	.st3{fill:none;}
      	.st4{font-family:'ArialMT';}
      	.st5{font-size:4.6206px;}
      	.st6{font-size:4.6204px;}
      	.st7{fill:none;stroke:#F26B75;stroke-width:4;stroke-miterlimit:10;}
      	.st8{stroke:#F26B75;stroke-width:5;stroke-miterlimit:10;}
        .tube_hover:hover{opacity: 0.5;}
        .socks_hover:hover{opacity: 0.5;}
        .ball_hover:hover{opacity: 0.5;}
        .weights_hover:hover{opacity: 0.5;}
        .barre_hover:hover{opacity: 0.5;}
      </style>
      <g id="Floor_1_">
      	<line id="Floor" class="st0" x1="0" y1="194" x2="492.2" y2="194"/>
      </g>
      <g id="Tube_1_" class="tube_hover">
      	<g id="Tube_2_">
      		<g>
      			<circle class="st0" cx="183.5" cy="166" r="20.8"/>
      			<path class="st1" d="M191.9,188.4h-16.8c-1,0-1.8-0.8-1.8-1.8v-2.2c0-1,0.8-1.8,1.8-1.8h16.8c1,0,1.8,0.8,1.8,1.8v2.2
      				C193.7,187.6,192.9,188.4,191.9,188.4z"/>
      		</g>
      		<g>

      				<ellipse transform="matrix(0.6778 -0.7352 0.7352 0.6778 -55.8448 185.066)" class="st0" cx="183.2" cy="156.3" rx="20.8" ry="20.8"/>
      			<path class="st1" d="M205.5,165.4l-11.4,12.3c-0.7,0.7-1.8,0.8-2.5,0.1l-1.6-1.5c-0.7-0.7-0.8-1.8-0.1-2.5l11.4-12.4
      				c0.7-0.7,1.8-0.8,2.5-0.1l1.6,1.5C206.1,163.5,206.1,164.6,205.5,165.4z"/>
      		</g>
      	</g>
      </g>
      <g id="Socks_1_" class="socks_hover">
      	<g id="Socks">
      		<g>
      			<g>
      				<path class="st1" d="M273.3,153.7c4.9-4.4,8.9-9.9,11.7-15.9c0.7-1.4,1.3-2.9,2.4-3.9c1-0.9,2.2-1.5,3.5-2
      					c2.8-1.2,5.7-2.1,8.7-2.5c2.1-0.3,4.4-0.2,6.4,0.6c2,0.8,3.7,2.5,4.2,4.6c0.3,1.5,0,3-0.4,4.5c-0.5,1.9-1.2,3.7-2,5.5
      					c-0.9,1.9-2.1,3.6-3.3,5.4c-4.3,6.3-8.5,12.7-12.8,19c-1.9,2.9-3.9,5.8-6.1,8.4c-1.8,2.1-3.7,4-6.3,5.1c-2.2,0.9-4.6,1-7,1.1
      					s-5.1,0.1-6.9-1.4c-0.9-0.8-1.6-1.8-2.2-2.9c-1.3-2.5-2.2-5.4-2.1-8.2c0.2-3.2,1.7-6.3,3.7-8.8s4.6-4.6,7.1-6.7L273.3,153.7z"/>
      			</g>
      			<circle class="st2" cx="296.9" cy="136.4" r="0.5"/>
      			<circle class="st2" cx="298.5" cy="137.6" r="0.5"/>
      			<circle class="st2" cx="300.1" cy="138.7" r="0.5"/>
      			<circle class="st2" cx="301.7" cy="139.9" r="0.5"/>
      			<circle class="st2" cx="293.9" cy="137" r="0.5"/>
      			<circle class="st2" cx="295.5" cy="138.2" r="0.5"/>
      			<circle class="st2" cx="297.1" cy="139.3" r="0.5"/>
      			<circle class="st2" cx="298.8" cy="140.5" r="0.5"/>
      			<circle class="st2" cx="300.4" cy="141.7" r="0.5"/>
      			<circle class="st2" cx="302" cy="142.9" r="0.5"/>
      			<circle class="st2" cx="291" cy="137.6" r="0.5"/>
      			<circle class="st2" cx="292.6" cy="138.7" r="0.5"/>
      			<circle class="st2" cx="294.2" cy="139.9" r="0.5"/>
      			<circle class="st2" cx="295.8" cy="141.1" r="0.5"/>
      			<circle class="st2" cx="297.4" cy="142.3" r="0.5"/>
      			<circle class="st2" cx="299" cy="143.5" r="0.5"/>
      			<circle class="st2" cx="300.6" cy="144.7" r="0.5"/>
      			<circle class="st2" cx="302.2" cy="145.9" r="0.5"/>
      			<circle class="st2" cx="289.7" cy="139.3" r="0.5"/>
      			<circle class="st2" cx="291.3" cy="140.5" r="0.5"/>
      			<circle class="st2" cx="292.9" cy="141.7" r="0.5"/>
      			<circle class="st2" cx="294.5" cy="142.9" r="0.5"/>
      			<circle class="st2" cx="296.1" cy="144.1" r="0.5"/>
      			<circle class="st2" cx="297.7" cy="145.3" r="0.5"/>
      			<circle class="st2" cx="299.3" cy="146.5" r="0.5"/>
      			<circle class="st2" cx="300.9" cy="147.7" r="0.5"/>
      			<circle class="st2" cx="288.4" cy="141.1" r="0.5"/>
      			<circle class="st2" cx="290" cy="142.3" r="0.5"/>
      			<circle class="st2" cx="291.6" cy="143.5" r="0.5"/>
      			<circle class="st2" cx="296.4" cy="147.1" r="0.5"/>
      			<circle class="st2" cx="298" cy="148.2" r="0.5"/>
      			<circle class="st2" cx="299.6" cy="149.4" r="0.5"/>
      			<circle class="st2" cx="287.1" cy="142.9" r="0.5"/>
      			<circle class="st2" cx="288.7" cy="144.1" r="0.5"/>
      			<circle class="st2" cx="290.3" cy="145.3" r="0.5"/>
      			<circle class="st2" cx="295.1" cy="148.8" r="0.5"/>
      			<circle class="st2" cx="296.7" cy="150" r="0.5"/>
      			<circle class="st2" cx="298.3" cy="151.2" r="0.5"/>
      			<circle class="st2" cx="285.8" cy="144.7" r="0.5"/>
      			<circle class="st2" cx="287.4" cy="145.9" r="0.5"/>
      			<circle class="st2" cx="289" cy="147.1" r="0.5"/>
      			<circle class="st2" cx="293.8" cy="150.6" r="0.5"/>
      			<circle class="st2" cx="295.4" cy="151.8" r="0.5"/>
      			<circle class="st2" cx="297" cy="153" r="0.5"/>
      			<circle class="st2" cx="284.4" cy="146.5" r="0.5"/>
      			<circle class="st2" cx="286" cy="147.7" r="0.5"/>
      			<circle class="st2" cx="287.6" cy="148.8" r="0.5"/>
      			<circle class="st2" cx="292.5" cy="152.4" r="0.5"/>
      			<circle class="st2" cx="294.1" cy="153.6" r="0.5"/>
      			<circle class="st2" cx="295.7" cy="154.8" r="0.5"/>
      			<circle class="st2" cx="283.1" cy="148.2" r="0.5"/>
      			<circle class="st2" cx="284.7" cy="149.4" r="0.5"/>
      			<circle class="st2" cx="286.3" cy="150.6" r="0.5"/>
      			<circle class="st2" cx="291.1" cy="154.2" r="0.5"/>
      			<circle class="st2" cx="292.7" cy="155.4" r="0.5"/>
      			<circle class="st2" cx="294.3" cy="156.6" r="0.5"/>
      			<circle class="st2" cx="281.8" cy="150" r="0.5"/>
      			<circle class="st2" cx="283.4" cy="151.2" r="0.5"/>
      			<circle class="st2" cx="285" cy="152.4" r="0.5"/>
      			<circle class="st2" cx="289.8" cy="156" r="0.5"/>
      			<circle class="st2" cx="291.4" cy="157.1" r="0.5"/>
      			<circle class="st2" cx="293" cy="158.3" r="0.5"/>
      			<circle class="st2" cx="280.5" cy="151.8" r="0.5"/>
      			<circle class="st2" cx="282.1" cy="153" r="0.5"/>
      			<circle class="st2" cx="283.7" cy="154.2" r="0.5"/>
      			<circle class="st2" cx="288.5" cy="157.7" r="0.5"/>
      			<circle class="st2" cx="290.1" cy="158.9" r="0.5"/>
      			<circle class="st2" cx="291.7" cy="160.1" r="0.5"/>
      			<circle class="st2" cx="279.2" cy="153.6" r="0.5"/>
      			<circle class="st2" cx="280.8" cy="154.8" r="0.5"/>
      			<circle class="st2" cx="282.4" cy="156" r="0.5"/>
      			<circle class="st2" cx="287.2" cy="159.5" r="0.5"/>
      			<circle class="st2" cx="288.8" cy="160.7" r="0.5"/>
      			<circle class="st2" cx="290.4" cy="161.9" r="0.5"/>
      			<circle class="st2" cx="277.9" cy="155.4" r="0.5"/>
      			<circle class="st2" cx="279.5" cy="156.6" r="0.5"/>
      			<circle class="st2" cx="281.1" cy="157.7" r="0.5"/>
      			<circle class="st2" cx="285.9" cy="161.3" r="0.5"/>
      			<circle class="st2" cx="287.5" cy="162.5" r="0.5"/>
      			<circle class="st2" cx="289.1" cy="163.7" r="0.5"/>
      			<circle class="st2" cx="276.5" cy="157.1" r="0.5"/>
      			<circle class="st2" cx="278.1" cy="158.3" r="0.5"/>
      			<circle class="st2" cx="279.7" cy="159.5" r="0.5"/>
      			<circle class="st2" cx="284.6" cy="163.1" r="0.5"/>
      			<circle class="st2" cx="286.2" cy="164.3" r="0.5"/>
      			<circle class="st2" cx="287.8" cy="165.5" r="0.5"/>
      			<circle class="st2" cx="275.2" cy="158.9" r="0.5"/>
      			<circle class="st2" cx="276.8" cy="160.1" r="0.5"/>
      			<circle class="st2" cx="278.4" cy="161.3" r="0.5"/>
      			<circle class="st2" cx="283.2" cy="164.9" r="0.5"/>
      			<circle class="st2" cx="284.8" cy="166.1" r="0.5"/>
      			<circle class="st2" cx="286.4" cy="167.2" r="0.5"/>
      			<circle class="st2" cx="273.9" cy="160.7" r="0.5"/>
      			<circle class="st2" cx="275.5" cy="161.9" r="0.5"/>
      			<circle class="st2" cx="277.1" cy="163.1" r="0.5"/>
      			<circle class="st2" cx="281.9" cy="166.6" r="0.5"/>
      			<circle class="st2" cx="283.5" cy="167.8" r="0.5"/>
      			<circle class="st2" cx="285.1" cy="169" r="0.5"/>
      			<circle class="st2" cx="272.6" cy="162.5" r="0.5"/>
      			<circle class="st2" cx="274.2" cy="163.7" r="0.5"/>
      			<circle class="st2" cx="275.8" cy="164.9" r="0.5"/>
      			<circle class="st2" cx="280.6" cy="168.4" r="0.5"/>
      			<circle class="st2" cx="282.2" cy="169.6" r="0.5"/>
      			<circle class="st2" cx="283.8" cy="170.8" r="0.5"/>
      			<circle class="st2" cx="271.3" cy="164.3" r="0.5"/>
      			<circle class="st2" cx="272.9" cy="165.5" r="0.5"/>
      			<circle class="st2" cx="274.5" cy="166.6" r="0.5"/>
      			<circle class="st2" cx="276.1" cy="167.8" r="0.5"/>
      			<circle class="st2" cx="277.7" cy="169" r="0.5"/>
      			<circle class="st2" cx="279.3" cy="170.2" r="0.5"/>
      			<circle class="st2" cx="280.9" cy="171.4" r="0.5"/>
      			<circle class="st2" cx="282.5" cy="172.6" r="0.5"/>
      			<circle class="st2" cx="269.9" cy="166.1" r="0.5"/>
      			<circle class="st2" cx="271.6" cy="167.2" r="0.5"/>
      			<circle class="st2" cx="273.2" cy="168.4" r="0.5"/>
      			<circle class="st2" cx="274.8" cy="169.6" r="0.5"/>
      			<circle class="st2" cx="276.4" cy="170.8" r="0.5"/>
      			<circle class="st2" cx="278" cy="172" r="0.5"/>
      			<circle class="st2" cx="279.6" cy="173.2" r="0.5"/>
      			<circle class="st2" cx="281.2" cy="174.4" r="0.5"/>
      			<circle class="st2" cx="268.6" cy="167.8" r="0.5"/>
      			<circle class="st2" cx="270.2" cy="169" r="0.5"/>
      			<circle class="st2" cx="271.8" cy="170.2" r="0.5"/>
      			<circle class="st2" cx="273.4" cy="171.4" r="0.5"/>
      			<circle class="st2" cx="275" cy="172.6" r="0.5"/>
      			<circle class="st2" cx="276.7" cy="173.8" r="0.5"/>
      			<circle class="st2" cx="278.3" cy="175" r="0.5"/>
      			<circle class="st2" cx="279.9" cy="176.1" r="0.5"/>
      			<circle class="st2" cx="267.3" cy="169.6" r="0.5"/>
      			<circle class="st2" cx="268.9" cy="170.8" r="0.5"/>
      			<circle class="st2" cx="270.5" cy="172" r="0.5"/>
      			<circle class="st2" cx="272.1" cy="173.2" r="0.5"/>
      			<circle class="st2" cx="273.7" cy="174.4" r="0.5"/>
      			<circle class="st2" cx="275.3" cy="175.6" r="0.5"/>
      			<circle class="st2" cx="276.9" cy="176.7" r="0.5"/>
      			<circle class="st2" cx="278.5" cy="177.9" r="0.5"/>
      			<circle class="st2" cx="266" cy="171.4" r="0.5"/>
      			<circle class="st2" cx="267.6" cy="172.6" r="0.5"/>
      			<circle class="st2" cx="269.2" cy="173.8" r="0.5"/>
      			<circle class="st2" cx="270.8" cy="175" r="0.5"/>
      			<circle class="st2" cx="272.4" cy="176.1" r="0.5"/>
      			<circle class="st2" cx="274" cy="177.3" r="0.5"/>
      			<circle class="st2" cx="275.6" cy="178.5" r="0.5"/>
      			<circle class="st2" cx="266.3" cy="174.4" r="0.5"/>
      			<circle class="st2" cx="267.9" cy="175.6" r="0.5"/>
      			<circle class="st2" cx="269.5" cy="176.7" r="0.5"/>
      			<circle class="st2" cx="271.1" cy="177.9" r="0.5"/>
      			<circle class="st2" cx="272.7" cy="179.1" r="0.5"/>

      				<rect x="274" y="152.6" transform="matrix(0.5736 -0.8192 0.8192 0.5736 -6.1606 304.1571)" class="st3" width="30.1" height="10.8"/>
      			<text transform="matrix(0.5736 -0.8192 0.8192 0.5736 280.0834 167.1953)" class="st2 st4 st5">barre better</text>
      		</g>
      		<g>
      			<g>
      				<path class="st1" d="M294.2,170.5c1.4-2.5,3.6-4.4,5.6-6.5c6.2-6.5,10-14.7,13.4-23c0.5-1.3,1.1-2.7,2.1-3.7s2.4-1.6,3.7-2
      					c3.5-1,7.2-0.9,10.6,0.3c1.8,0.7,3.7,1.8,4.4,3.6c0.4,1,0.5,2.1,0.5,3.2c0.1,1.9,0.2,3.8,0.2,5.7c0,1.6,0,3.1-0.4,4.6
      					c-0.5,1.6-1.5,2.9-2.5,4.2c-4.2,5.5-8.4,11-11.5,17.2c-1.8,3.5-3.2,7.2-5.4,10.4c-2.2,3.3-5.3,6.1-9.1,6.9c-4.8,1-10-1.7-12.4-6
      					s-2.1-9.8,0.3-14.1L294.2,170.5z"/>
      			</g>
      			<circle class="st2" cx="325.6" cy="141.8" r="0.5"/>
      			<circle class="st2" cx="327.2" cy="143" r="0.5"/>
      			<circle class="st2" cx="328.8" cy="144.2" r="0.5"/>
      			<circle class="st2" cx="330.4" cy="145.4" r="0.5"/>
      			<circle class="st2" cx="322.7" cy="142.4" r="0.5"/>
      			<circle class="st2" cx="324.3" cy="143.6" r="0.5"/>
      			<circle class="st2" cx="325.9" cy="144.8" r="0.5"/>
      			<circle class="st2" cx="327.5" cy="145.9" r="0.5"/>
      			<circle class="st2" cx="329.1" cy="147.1" r="0.5"/>
      			<circle class="st2" cx="330.7" cy="148.3" r="0.5"/>
      			<circle class="st2" cx="319.8" cy="143" r="0.5"/>
      			<circle class="st2" cx="321.4" cy="144.2" r="0.5"/>
      			<circle class="st2" cx="323" cy="145.4" r="0.5"/>
      			<circle class="st2" cx="324.6" cy="146.5" r="0.5"/>
      			<circle class="st2" cx="326.2" cy="147.7" r="0.5"/>
      			<circle class="st2" cx="327.8" cy="148.9" r="0.5"/>
      			<circle class="st2" cx="329.4" cy="150.1" r="0.5"/>
      			<circle class="st2" cx="331" cy="151.3" r="0.5"/>
      			<circle class="st2" cx="318.5" cy="144.8" r="0.5"/>
      			<circle class="st2" cx="320.1" cy="145.9" r="0.5"/>
      			<circle class="st2" cx="321.7" cy="147.1" r="0.5"/>
      			<circle class="st2" cx="323.3" cy="148.3" r="0.5"/>
      			<circle class="st2" cx="324.9" cy="149.5" r="0.5"/>
      			<circle class="st2" cx="326.5" cy="150.7" r="0.5"/>
      			<circle class="st2" cx="328.1" cy="151.9" r="0.5"/>
      			<circle class="st2" cx="329.7" cy="153.1" r="0.5"/>
      			<circle class="st2" cx="317.1" cy="146.5" r="0.5"/>
      			<circle class="st2" cx="318.8" cy="147.7" r="0.5"/>
      			<circle class="st2" cx="320.4" cy="148.9" r="0.5"/>
      			<circle class="st2" cx="322" cy="150.1" r="0.5"/>
      			<circle class="st2" cx="323.6" cy="151.3" r="0.5"/>
      			<circle class="st2" cx="325.2" cy="152.5" r="0.5"/>
      			<circle class="st2" cx="326.8" cy="153.7" r="0.5"/>
      			<circle class="st2" cx="328.4" cy="154.9" r="0.5"/>
      			<circle class="st2" cx="315.8" cy="148.3" r="0.5"/>
      			<circle class="st2" cx="317.4" cy="149.5" r="0.5"/>
      			<circle class="st2" cx="319" cy="150.7" r="0.5"/>
      			<circle class="st2" cx="320.6" cy="151.9" r="0.5"/>
      			<circle class="st2" cx="322.2" cy="153.1" r="0.5"/>
      			<circle class="st2" cx="323.9" cy="154.3" r="0.5"/>
      			<circle class="st2" cx="325.5" cy="155.4" r="0.5"/>
      			<circle class="st2" cx="327.1" cy="156.6" r="0.5"/>
      			<circle class="st2" cx="314.5" cy="150.1" r="0.5"/>
      			<circle class="st2" cx="316.1" cy="151.3" r="0.5"/>
      			<circle class="st2" cx="317.7" cy="152.5" r="0.5"/>
      			<circle class="st2" cx="322.5" cy="156" r="0.5"/>
      			<circle class="st2" cx="324.1" cy="157.2" r="0.5"/>
      			<circle class="st2" cx="325.7" cy="158.4" r="0.5"/>
      			<circle class="st2" cx="313.2" cy="151.9" r="0.5"/>
      			<circle class="st2" cx="314.8" cy="153.1" r="0.5"/>
      			<circle class="st2" cx="316.4" cy="154.3" r="0.5"/>
      			<circle class="st2" cx="321.2" cy="157.8" r="0.5"/>
      			<circle class="st2" cx="322.8" cy="159" r="0.5"/>
      			<circle class="st2" cx="324.4" cy="160.2" r="0.5"/>
      			<circle class="st2" cx="311.9" cy="153.7" r="0.5"/>
      			<circle class="st2" cx="313.5" cy="154.9" r="0.5"/>
      			<circle class="st2" cx="315.1" cy="156" r="0.5"/>
      			<circle class="st2" cx="319.9" cy="159.6" r="0.5"/>
      			<circle class="st2" cx="321.5" cy="160.8" r="0.5"/>
      			<circle class="st2" cx="323.1" cy="162" r="0.5"/>
      			<circle class="st2" cx="310.6" cy="155.4" r="0.5"/>
      			<circle class="st2" cx="312.2" cy="156.6" r="0.5"/>
      			<circle class="st2" cx="313.8" cy="157.8" r="0.5"/>
      			<circle class="st2" cx="318.6" cy="161.4" r="0.5"/>
      			<circle class="st2" cx="320.2" cy="162.6" r="0.5"/>
      			<circle class="st2" cx="321.8" cy="163.8" r="0.5"/>
      			<circle class="st2" cx="309.2" cy="157.2" r="0.5"/>
      			<circle class="st2" cx="310.8" cy="158.4" r="0.5"/>
      			<circle class="st2" cx="312.5" cy="159.6" r="0.5"/>
      			<circle class="st2" cx="317.3" cy="163.2" r="0.5"/>
      			<circle class="st2" cx="318.9" cy="164.4" r="0.5"/>
      			<circle class="st2" cx="320.5" cy="165.5" r="0.5"/>
      			<circle class="st2" cx="307.9" cy="159" r="0.5"/>
      			<circle class="st2" cx="309.5" cy="160.2" r="0.5"/>
      			<circle class="st2" cx="311.1" cy="161.4" r="0.5"/>
      			<circle class="st2" cx="315.9" cy="164.9" r="0.5"/>
      			<circle class="st2" cx="317.6" cy="166.1" r="0.5"/>
      			<circle class="st2" cx="319.2" cy="167.3" r="0.5"/>
      			<circle class="st2" cx="306.6" cy="160.8" r="0.5"/>
      			<circle class="st2" cx="308.2" cy="162" r="0.5"/>
      			<circle class="st2" cx="309.8" cy="163.2" r="0.5"/>
      			<circle class="st2" cx="314.6" cy="166.7" r="0.5"/>
      			<circle class="st2" cx="316.2" cy="167.9" r="0.5"/>
      			<circle class="st2" cx="317.8" cy="169.1" r="0.5"/>
      			<circle class="st2" cx="305.3" cy="162.6" r="0.5"/>
      			<circle class="st2" cx="306.9" cy="163.8" r="0.5"/>
      			<circle class="st2" cx="308.5" cy="164.9" r="0.5"/>
      			<circle class="st2" cx="313.3" cy="168.5" r="0.5"/>
      			<circle class="st2" cx="314.9" cy="169.7" r="0.5"/>
      			<circle class="st2" cx="316.5" cy="170.9" r="0.5"/>
      			<circle class="st2" cx="304" cy="164.4" r="0.5"/>
      			<circle class="st2" cx="305.6" cy="165.5" r="0.5"/>
      			<circle class="st2" cx="307.2" cy="166.7" r="0.5"/>
      			<circle class="st2" cx="312" cy="170.3" r="0.5"/>
      			<circle class="st2" cx="313.6" cy="171.5" r="0.5"/>
      			<circle class="st2" cx="315.2" cy="172.7" r="0.5"/>
      			<circle class="st2" cx="302.7" cy="166.1" r="0.5"/>
      			<circle class="st2" cx="304.3" cy="167.3" r="0.5"/>
      			<circle class="st2" cx="305.9" cy="168.5" r="0.5"/>
      			<circle class="st2" cx="310.7" cy="172.1" r="0.5"/>
      			<circle class="st2" cx="312.3" cy="173.3" r="0.5"/>
      			<circle class="st2" cx="313.9" cy="174.4" r="0.5"/>
      			<circle class="st2" cx="301.3" cy="167.9" r="0.5"/>
      			<circle class="st2" cx="302.9" cy="169.1" r="0.5"/>
      			<circle class="st2" cx="304.6" cy="170.3" r="0.5"/>
      			<circle class="st2" cx="309.4" cy="173.8" r="0.5"/>
      			<circle class="st2" cx="311" cy="175" r="0.5"/>
      			<circle class="st2" cx="312.6" cy="176.2" r="0.5"/>
      			<circle class="st2" cx="300" cy="169.7" r="0.5"/>
      			<circle class="st2" cx="301.6" cy="170.9" r="0.5"/>
      			<circle class="st2" cx="303.2" cy="172.1" r="0.5"/>
      			<circle class="st2" cx="308" cy="175.6" r="0.5"/>
      			<circle class="st2" cx="309.7" cy="176.8" r="0.5"/>
      			<circle class="st2" cx="311.3" cy="178" r="0.5"/>
      			<circle class="st2" cx="298.7" cy="171.5" r="0.5"/>
      			<circle class="st2" cx="300.3" cy="172.7" r="0.5"/>
      			<circle class="st2" cx="301.9" cy="173.8" r="0.5"/>
      			<circle class="st2" cx="303.5" cy="175" r="0.5"/>
      			<circle class="st2" cx="305.1" cy="176.2" r="0.5"/>
      			<circle class="st2" cx="306.7" cy="177.4" r="0.5"/>
      			<circle class="st2" cx="308.3" cy="178.6" r="0.5"/>
      			<circle class="st2" cx="309.9" cy="179.8" r="0.5"/>
      			<circle class="st2" cx="297.4" cy="173.3" r="0.5"/>
      			<circle class="st2" cx="299" cy="174.4" r="0.5"/>
      			<circle class="st2" cx="300.6" cy="175.6" r="0.5"/>
      			<circle class="st2" cx="302.2" cy="176.8" r="0.5"/>
      			<circle class="st2" cx="303.8" cy="178" r="0.5"/>
      			<circle class="st2" cx="305.4" cy="179.2" r="0.5"/>
      			<circle class="st2" cx="307" cy="180.4" r="0.5"/>
      			<circle class="st2" cx="308.6" cy="181.6" r="0.5"/>
      			<circle class="st2" cx="296.1" cy="175" r="0.5"/>
      			<circle class="st2" cx="297.7" cy="176.2" r="0.5"/>
      			<circle class="st2" cx="299.3" cy="177.4" r="0.5"/>
      			<circle class="st2" cx="300.9" cy="178.6" r="0.5"/>
      			<circle class="st2" cx="302.5" cy="179.8" r="0.5"/>
      			<circle class="st2" cx="304.1" cy="181" r="0.5"/>
      			<circle class="st2" cx="305.7" cy="182.2" r="0.5"/>
      			<circle class="st2" cx="307.3" cy="183.3" r="0.5"/>
      			<circle class="st2" cx="296.4" cy="178" r="0.5"/>
      			<circle class="st2" cx="298" cy="179.2" r="0.5"/>
      			<circle class="st2" cx="299.6" cy="180.4" r="0.5"/>
      			<circle class="st2" cx="301.2" cy="181.6" r="0.5"/>
      			<circle class="st2" cx="302.8" cy="182.8" r="0.5"/>
      			<circle class="st2" cx="304.4" cy="183.9" r="0.5"/>
      			<circle class="st2" cx="306" cy="185.1" r="0.5"/>
      			<circle class="st2" cx="296.7" cy="181" r="0.5"/>
      			<circle class="st2" cx="298.3" cy="182.2" r="0.5"/>
      			<circle class="st2" cx="299.9" cy="183.3" r="0.5"/>
      			<circle class="st2" cx="301.5" cy="184.5" r="0.5"/>
      			<circle class="st2" cx="303.1" cy="185.7" r="0.5"/>

      				<rect x="300.8" y="160.6" transform="matrix(0.5878 -0.809 0.809 0.5878 -4.1226 323.9901)" class="st3" width="30.1" height="10.8"/>
      			<text transform="matrix(0.5878 -0.809 0.809 0.5878 306.6696 175.0504)" class="st2 st4 st6">barre better</text>
      		</g>
      	</g>
      </g>
      <g id="Barre_1_" class="barre_hover">
      	<g id="Barre_2_">
      		<path class="st1" d="M437.3,56.9H54.6c-2,0-3.6-1.6-3.6-3.6v-9.2c0-2,1.6-3.6,3.6-3.6h382.6c2,0,3.6,1.6,3.6,3.6v9.2
      			C440.9,55.3,439.2,56.9,437.3,56.9z"/>
      		<path class="st7" d="M408.4,56.9c0,9.2-4.5,16.7-10,16.7"/>
      		<path class="st7" d="M87.7,56.9c0,9.2-4.5,16.7-10,16.7"/>
      	</g>
      </g>
      <g id="Weights_1_" class="weights_hover">
      	<g id="Weights">
      		<g>
      			<path class="st8" d="M368.1,184.3h24H368.1z"/>
      			<path class="st1" d="M394,190.2h-3.8c-0.7,0-1.3-0.6-1.3-1.3v-9.2c0-0.7,0.6-1.3,1.3-1.3h3.8c0.7,0,1.3,0.6,1.3,1.3v9.2
      				C395.3,189.6,394.8,190.2,394,190.2z"/>
      			<path class="st1" d="M370,190.2h-3.9c-0.7,0-1.3-0.6-1.3-1.3v-9.2c0-0.7,0.6-1.3,1.3-1.3h3.8c0.7,0,1.3,0.6,1.3,1.3v9.2
      				C371.3,189.6,370.7,190.2,370,190.2z"/>
      		</g>
      		<g>
      			<path class="st8" d="M405.1,184.3h24H405.1z"/>
      			<path class="st1" d="M431,190.2h-3.8c-0.7,0-1.3-0.6-1.3-1.3v-9.2c0-0.7,0.6-1.3,1.3-1.3h3.8c0.7,0,1.3,0.6,1.3,1.3v9.2
      				C432.3,189.6,431.8,190.2,431,190.2z"/>
      			<path class="st1" d="M407,190.2h-3.9c-0.7,0-1.3-0.6-1.3-1.3v-9.2c0-0.7,0.6-1.3,1.3-1.3h3.8c0.7,0,1.3,0.6,1.3,1.3v9.2
      				C408.3,189.6,407.7,190.2,407,190.2z"/>
      		</g>
      	</g>
      </g>
      <g id="Ball_1_" class="ball_hover">
      	<circle id="Ball_2_" class="st1" cx="91.7" cy="173.4" r="17.7"/>
      </g>
      </svg>

    </div>
  </div>
</div>
