<div class="row">
  <div class="columns">
    <div class="content-box text-center">
      <h1>Welcome Back to Barre Better!</h1>
      <h3>You've taken </h3>
      <div class="number-circle">
        <%= @trainings.count %>
      </div>
      <h3> barre classes!</h3>
      <%= button_to "View your Full History", user_path(current_user.id), :class => "button", method: :get %>
    </div>
  </div>
</div>
