<div class="row">
  <div class="columns">
    <div class="content-box text-center">
      <% if current_user.nil? || current_user.role == "client" || current_user.role == "instructor" %>
      <h1>I'm sorry you don't have access to the page.</h1>
      <% else %>
      <h1> Edit an Instructor</h1>

      <%= render 'form' %>
      <%= button_to "Delete Instructor", instructor_path(@instructor), method: :delete, :class => "button" %>
      <% end %>
    </div>
  </div>
</div>
