<div class="row">
  <div class="columns">
    <div class="content-box text-center">
      <h1>Studio Mangement</h1>
      <%= button_to "Add an Instructor", new_instructor_path, :class => "button", method: :get %>
      <%= button_to "Add a Timeslot", new_timeslot_path, :class => "button", method: :get %>
      <%= button_to "Add a Barre Type", new_barre_type_path, :class => "button", method: :get %>
    </div>
  </div>
</div>
