<div class="content-box">
    <div class="row">
      <div class="col s2"></div>
      <div class="col s8"><h2 class="center-align">Barre Better</h2></div>
      <div class="col s2"></div>
    </div>
    <div class="row">
      <div class="col s2"></div>
      <div class="col s8">
        <h3 class="center-align">
          <a href="https://github.com/jaclynjessup">github.com/jaclynjessup</a>
        </h3>
      </div>
      <div class="col s2"></div>
    </div>
    <div class="row">
      <div class="col s1"></div>
      <div class="col s10">
        <blockquote>
          Barre Better serves the avid barre enthusiast. As a client of Barre Better one can log into their account and reserve their spot at the barre. Then view their class history through several data visulization tools. As an instructor of Barre Better one can create, update, or delete a class for the studios schedule. They can also see who is enrolled in their class and see their class history as well. Clients who are new to the barre style workouts can view an interactive image explaining the five barre essentials.
        </blockquote>
      </div>
    <div class="row center-align" id="demo-account">
      <div class="columns large-6">
      <h3>Demo Client Account:</h3>
      <p><strong>Email:</strong> client@barrebetter.com <strong>Password:</strong> barre1</p>
    </div>
    <div class="columns large-6">
      <h3>Demo Instructor Account:</h3>
      <p><strong>Email:</strong> instructor@barrebetter.com <strong>Password:</strong> barre1</p>
    </div>
  </div>
  <div class="col s1"></div>
  </div>
</div>
