/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides
 *= require font-awesome

 */

.logo {
  color: white;
  font-family: Lobster;
  font-size: 46px;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  line-height: 26.4px;
}
.top-bar li {
  font-family: "Patrick Hand";
}

.top-bar a {
  color: white;
}

#responsive-menu {
  font-family: "Patrick Hand";
  color: white;
  font-size: 26px;
}

a:hover {
    color: #D2C9CC;
}


h1 {
  font-family: Lobster;
  text-align: center;
  color: #FF8383;
}

h3 {
  text-align: center;
}

.user-form {
  text-align: center;
  width: 20%;
  margin-left: auto;
  margin-right: auto;
}

.class-form {
  text-align: center;
  width: 20%;
  margin-left: auto;
  margin-right: auto;
}
.button {
  background-color: white;
  color: black;
  border: 2px solid #F36B75;
  border-radius: 12px;
}
.button:hover {
    background-color: #F36B75;
    color: white;
}
