/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */

 .top-bar a {
  color: white;
  font-family: Lobster;
  font-size: 32px;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  line-height: 26.4px;
}

a:hover {
    color: #D2C9CC;
}

.top-bar {
  color: white;
  font-size: 32px;
}

h1{
  font-family: Lobster;
  text-align: center;
  color: #FF8383;
}

.user-form {
  text-align: center;
  width: 20%;
  margin-left: auto;
  margin-right: auto;
}
