/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides
 *= require font-awesome

 */

.logo {
  color: white;
  font-family: 'Dancing Script', cursive;
  font-size: 46px;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  line-height: 26.4px;
}
.top-bar li {
  font-family: "Gotham SSm A","Gotham SSm B",sans-serif;
  text-transform: uppercase;
}

.top-bar a {
  color: white;
}
.top-bar i {
  color: white;
}

#responsive-menu {
  font-family: "Gotham SSm A","Gotham SSm B",sans-serif;
  text-transform: uppercase;
  color: white;
  font-size: 12px;
  line-height: 40px;
  padding: 10px;
}

a:hover {
    color: #D2C9CC;
}

h1, h2, h3, h4 {
  font-family: 'Open Sans Condensed', sans-serif;
  text-align: center;
  color: #FF8383;
}

h5 {
  color: #F36B75;
  font-family: 'Open Sans Condensed', sans-serif;
}

.class-form {
  text-align: center;
  width: 20%;
  margin-left: auto;
  margin-right: auto;
}

.button {
  background-color: white;
  color: black;
  border: 2px solid #F36B75;
  border-radius: 12px;
}

.button:hover {
    background-color: #F36B75;
    color: white;
}

input[type=text] {
    border: none;
    border-bottom: 2px solid #F36B75;
}

input[type=email] {
    border: none;
    border-bottom: 2px solid #F36B75;
}

input[type=password] {
    border: none;
    border-bottom: 2px solid #F36B75;
}

table {
  text-transform: uppercase;
  text-align: center;
}

body {
  background-image: url('/assets/studio-barre1.png');
  background-size: cover;
  background-repeat: no-repeat;
}

.content-box {
  margin-top: 50px;
  background: rgba(255, 255, 255, .7);
  border-radius: 50px;
  padding: 30px 50px 30px 50px;
}

.alert {
  background-color: #F36B75;
  text-align: center;
  color: white;
  font-size: 20px;
  text-transform: uppercase;
}

.center-align {
  text-align: center;
}

blockquote {
  background: #f9f9f9;
  border-left: 10px solid #F36B75;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}

blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

blockquote p {
  display: inline;
}

p strong{
  color: #F36B75;
}

.profile_photo {
  height: 150px;
  width: 150px;
  border-radius: 50%;
}

.profile_thumb {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

.whatis-container {
  margin-left: 2rem;
  margin-right: 2rem;
}

li {
  list-style: none;
}

i {
  color: #B0A9B0;
  margin-right: 0.5rem;
}

.question {
  font-size: 2rem;
  font-family: 'Open Sans Condensed', sans-serif;
  color: #F36B75;
}

.answer {
  font-size: 1.5rem;
  font-family: 'Open Sans Condensed', sans-serif;
  color: #B0A9B0;
}

.selected {
  color: #FEA3A2;
}

.question_answer {
  border-bottom: 1px solid #B0A9B0;
}

.number-circle {
  display: block;
  height: 100px;
  width: 100px;
  line-height: 100px;

  -moz-border-radius: 50px; /* or 50% */
  border-radius: 50px; /* or 50% */

  background-color: #FEA3A2;
  color: white;
  text-align: center;
  font-size: 5em;
  font-family: 'Open Sans Condensed', sans-serif;

  margin-left: auto;
  margin-right: auto;
}

#image {
  background: rgba(275, 275, 275, .7);
}
