<div class="row">
  <div class="columns">
    <div class="content-box text-center">
      <% if current_user.nil? || current_user.role == "instructor" %>
      <h1>I'm sorry you don't have access to the page.</h1>
      <% else %>
      <h1>Add a New Barre Type</h1>

      <%= render 'form' %>
      <% end %>
    </div>
  </div>
</div>
